<!-- templates/emails/welcome_email.html -->
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Welcome to SafeDeal</title>
</head>
<body style="font-family: Arial, sans-serif;">
  <h2>Hi {{ user.first_name }},</h2>
  <p>Welcome to <strong>SafeDeal</strong> — your trusted platform for secure and reliable online transactions!</p>
  <p>We’re excited to have you onboard. Click the <strong>update account</strong> button on the dashbord and... </p>
  <p>Start exploring great deals now.</p>
  <br>
  <p>Cheers,</p>
  <p>The SafeDeal Team</p>
</body>
</html>
