{% extends 'core/base.html' %}
{% load static %}

{% load widget_tweaks %}

{% block title %}Create Transaction - SafeDeal{% endblock %}

{% block meta %}
    <meta name="description" content="Create a secure transaction on SafeDeal. Fill out the form to generate a secure link for your transaction.">
    <meta name="keywords" content="SafeDeal, Create Transaction, Secure Link, Transaction Form">
{% endblock %}

{% block content %}
<div class="max-w-xl mx-auto bg-white shadow-md rounded-lg p-6 mt-8">
    <h2 class="text-2xl font-semibold text-center mb-6 text-gray-800">Create a Secure Transaction</h2>
    {% comment %} <a href="#" onclick="goBackWithSpinnerFix(event)" class="text-sm text-gray-600 hover:text-blue-600 mb-4">
      &larr; Go Back
    </a> {% endcomment %}
    <p class="text-center text-gray-600 mb-4">
        This will generate a link to this item in safedeal. You can then share this link with the buyer to complete the transaction.
    </p>
    <p class="text-center text-gray-600 mb-4">
        <strong>Disclaimer:</strong> By proceeding, you agree to our terms and conditions. Always verify the details before Submitting.
        <strong>Worning!</strong> Do not share this link with anyone else. It is meant for the buyer only.
    </p>  
    <form method="post" class="space-y-4">
        {% csrf_token %}
        {% for field in form %}
            <div>
                <label for="{{ field.id_for_label }}" class="block text-sm font-medium text-gray-700 mb-1">
                    {{ field.label }}
                </label>
                {{ field|add_class:"w-full border-b border-gray-300 focus:outline-none focus:border-gray-600 placeholder-gray-400 py-2 bg-transparent transition-all duration-200" }}
                
                {% if field.help_text %}
                    <p class="text-xs text-gray-500 mt-1">{{ field.help_text }}</p>
                {% endif %}
                
                {% if field.errors %}
                    <p class="text-red-500 text-sm mt-1">{{ field.errors|striptags }}</p>
                {% endif %}
            </div>
        {% endfor %}

        <div class="pt-4">
            <button type="submit" class="w-full bg-blue-600 hover:bg-blue-700 text-white font-semibold py-2 px-4 rounded">
                Generate Secure Link
            </button>
        </div>
    </form>
</div>
{% endblock %}

